html
    head
        title pug file
    body
        h1 Welcome to pug file
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, saepe, tempore assumenda ratione laudantium itaque id accusamus porro, obcaecati facilis sapiente facere aut ullam dolorum dolores fugiat delectus nisi dicta?
    